<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.sunquestinfo.demo"
        version   = "1.0.1">

    <name>Demo</name>

    <description>
        Demo application
    </description>

    <author href="http://www.sunquestinfo.com" email="support@sunquestinfo.com">
        PhoneGap Team
    </author>

<access origin="*"/>
<access uri="*"/>
	

    <!--
    
    
        <access origin="http://phonegap.com" />                    - allow any secure requests to http://phonegap.com/
        <access origin="http://phonegap.com" subdomains="true" />  - same as above, but including subdomains, such as http://build.phonegap.com/
    -->

</widget>